web/WEB-INF/wsit-package_1337.GetDataService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GetDataService" targetNamespace="http://package_1337/" xmlns:tns="http://package_1337/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="getPhoto"/>
    <message name="getPhotoResponse"/>
    <message name="startPrzetwarzania"/>
    <message name="startPrzetwarzaniaResponse"/>
    <portType name="GetDataService">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="getPhoto">
            <input message="tns:getPhoto"/>
            <output message="tns:getPhotoResponse"/>
        </operation>
        <operation name="startPrzetwarzania">
            <input message="tns:startPrzetwarzania"/>
            <output message="tns:startPrzetwarzaniaResponse"/>
        </operation>
    </portType>
    <binding name="GetDataServicePortBinding" type="tns:GetDataService">
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="getPhoto">
            <input/>
            <output/>
        </operation>
        <operation name="startPrzetwarzania">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="GetDataService">
        <port name="GetDataServicePort" binding="tns:GetDataServicePortBinding"/>
    </service>
</definitions>
